<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">


</head>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ABKM<sup>2</sup></div>
            </a>

            

            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/user/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List User</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/banner" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Banner</span>
                </a>
                
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/banner/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>list Banner</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/blog" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>blog</span>
                </a>
                
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/blog/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>list blog</span>
                </a>

            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/literature" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>literature</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/literature/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List literature</span>
                </a>

            </li>
             </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/vlog" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Vlog</span>
                </a>

            </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/vlog/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List Vlog</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/team" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Team</span>
                </a>

            </li>
            </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/team/state/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List State Team</span>
                </a>

            </li>
            </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/team/district/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List District Team</span>
                </a>

            </li>
            


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>


        <div id="content-wrapper" class="d-flex flex-column  py-3">

            <div id="content">



                <div class="row justify-content-center">

                    <div class="col-xl-10 col-lg-10 col-md-8">

                        <div class="card o-hidden border-0 shadow-lg">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Define State Team</h1>
                                            </div>
                                            <form class="user" action="/api/v1/admin/create/team/state" method="post"
                                                enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail" class="form-label px-2">Team
                                                        name</label>
                                                    <input type="text" class="form-control form-control-user"
                                                        name="name" id="exampleInputEmail" aria-describedby="emailHelp"
                                                        placeholder="Enter team name">
                                                </div>
                                                 {{!-- <div class="form-group">
                                                    <label for="exampleInputUserId" class="form-label px-2">User Id</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="userId" id="exampleInputUserId" aria-describedby="emailHelp"
                                                        placeholder="Enter user no">
                                                </div> --}}
                                               
                                                 <div class="form-group">
                                                    <label for="exampleInputoostname" class="form-label px-2">Post name</label>
                                                    <input type="text" class="form-control form-control-user"
                                                        name="postname" id="exampleInputoostname" aria-describedby="oostnameHelp"
                                                        placeholder="Enter post name">
                                                </div>
                                                 <div class="form-group">
                                                    <label for="exampleInpusequence" class="form-label px-2">Sequence no</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="sequenceno" id="exampleInpusequence" aria-describedby="emailHelp"
                                                        placeholder="Enter sequence no">
                                                </div>
                                                {{!-- <div class="form-group">
                                                    <label for="exampleInpuLocation" class="form-label px-2">Location id</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="locationno" id="exampleInpuLocation" aria-describedby="emailHelp"
                                                        placeholder="Enter Location no">
                                                </div> --}}

                                                

                                                
                                                <label class="my-2" for="lang">State</label>
                                                <select name="state" id="lang">
                                                     {{#each state}}
                                                  <option value="{{this}}" selected="selected">{{this}}</option>
                                    
                                                  {{/each}}
                                                </select>

                                               
                                                   
                                                     <div class="form-group mb-5">
                                                    <label for="exampleFormControlFile1">Image</label>
                                                    <input type="file" name="image" class="form-control-file"
                                                        id="exampleFormControlFile1">
                                                </div>
                                                <br><br>
                                                

                                               





                                                <button type="submit" class="btn btn-primary btn-user btn-block my-3">
                                                    Create Team
                                                </button>

                                            </form>
                                            <hr>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Define District Team</h1>
                                            </div>
                                            <form class="user" action="/api/v1/admin/create/team/district" method="post"
                                                enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail" class="form-label px-2">Team
                                                        name</label>
                                                    <input type="text" class="form-control form-control-user"
                                                        name="name" id="exampleInputEmail" aria-describedby="emailHelp"
                                                        placeholder="Enter team name">
                                                </div>
                                                {{!-- <div class="form-group">
                                                    <label for="exampleInputUserId" class="form-label px-2">User Id</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="userId" id="exampleInputUserId" aria-describedby="emailHelp"
                                                        placeholder="Enter user no">
                                                </div> --}}
                                                
                                                 <div class="form-group">
                                                    <label for="exampleInputoostname" class="form-label px-2">Post name</label>
                                                    <input type="text" class="form-control form-control-user"
                                                        name="postname" id="exampleInputoostname" aria-describedby="oostnameHelp"
                                                        placeholder="Enter post name">
                                                </div>
                                                 <div class="form-group">
                                                    <label for="exampleInpusequence" class="form-label px-2">Sequence no</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="sequenceno" id="exampleInpusequence" aria-describedby="emailHelp"
                                                        placeholder="Enter sequence no">
                                                </div>
                                                {{!-- <div class="form-group">
                                                    <label for="exampleInpuLocation" class="form-label px-2">Location id</label>
                                                    <input type="number" class="form-control form-control-user"
                                                        name="locationno" id="exampleInpuLocation" aria-describedby="emailHelp"
                                                        placeholder="Enter Location no">
                                                </div> --}}
                                               
                                                 
                                                 <label class="my-2" for="lang">District</label>
                                                 <select name="district" id="lang">
                                                     {{#each district}}
                                                  <option value="{{this}}" selected="selected">{{this}}</option>
                                    
                                                  {{/each}}
                                                </select>
                                                 <div class="form-group mb-5">
                                                    <label for="exampleFormControlFile1">Image</label>
                                                    <input type="file" name="image" class="form-control-file"
                                                        id="exampleFormControlFile1">
                                                </div>



                                                   
                                                    
                                                </select>
                                                <br><br>
                                                

                                               





                                                <button type="submit" class="btn btn-primary btn-user btn-block my-3">
                                                    Create Team
                                                </button>

                                            </form>
                                            <hr>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>


            </div>
            <!-- End of Content Wrapper -->

        </div>


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>



</body>

</html>